#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

&trackball {
    automouse-layer = <4>;
    scroll-layers = <5>;

    // arrows {
    //     layers = <3>;
    //     bindings =
    //         <&kp RIGHT_ARROW>,
    //         <&kp LEFT_ARROW>,
    //         <&kp UP_ARROW>,
    //         <&kp DOWN_ARROW>;
    //     tick = <10>;
    //     wait-ms = <5>;
    //     tap-ms = <5>;
    // };
};

/ {
    combos {
        compatible = "zmk,combos";

        tab {
            bindings = <&kp TAB>;
            key-positions = <11 12>;
        };

        shift_tab {
            bindings = <&kp LS(TAB)>;
            key-positions = <12 13>;
        };

        muhennkann {
            bindings = <&to_layer_0 INT_MUHENKAN>;
            key-positions = <11 10>;
        };

        double_quotation {
            bindings = <&kp DOUBLE_QUOTES>;
            key-positions = <20 21>;
        };

        eq {
            bindings = <&kp EQUAL>;
            key-positions = <24 25>;
        };

        Desk_LEFT {
            bindings = <&kp LC(LEFT)>;
            key-positions = <18 19>;
            timeout-ms = <50>;
        };

        Desk_RIGHT {
            bindings = <&kp LC(RIGHT)>;
            key-positions = <19 20>;
            timeout-ms = <50>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };

        login_macro: login_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N0 &kp N7 &kp N0 &kp N8 &kp N2 &kp N4 &kp ENTER>;
            label = "LOGIN_MACRO";
        };

        pw1_short: pw1_short {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N0 &kp N7 &kp N0 &kp N8 &kp N2 &kp N4>;
            label = "PW1_SHORT";
        };

        pw1_middle: pw1_middld {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N0 &kp N7 &kp N0 &kp N8 &kp N2 &kp N4 &kp LS(Y) &kp U &kp I>;
            label = "PW1_MIDDLE";
        };

        pw1_long: pw1_long {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N0 &kp N7 &kp N0 &kp N8 &kp N2 &kp N4 &kp UNDERSCORE &kp LS(Y) &kp U &kp I>;
            label = "PW1_LONG";
        };

        mail1: mail1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N0 &kp N7 &kp N0 &kp N8 &kp N2 &kp N4 &kp UNDERSCORE &kp LS(Y) &kp U &kp I>;
            label = "MAIL1";
        };

        pw2_short: pw2_short {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N0 &kp N9 &kp N0 &kp N5 &kp N1 &kp N1>;
            label = "PW2_SHORT";
        };

        pw2_middle: pw2_middld {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N0 &kp N9 &kp N0 &kp N5 &kp N1 &kp N1 &kp LS(T) &kp E &kp T &kp S &kp U>;
            label = "PW2_MIDDLE";
        };

        pw2_long: pw2_long {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N0 &kp N9 &kp N0 &kp N5 &kp N1 &kp N1 &kp UNDERSCORE &kp LS(T) &kp E &kp T &kp S &kp U>;
            label = "PW2_LONG";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        // 長押しでマクロ、タップで通常のキー入力をする挙動

        login_ht: login_ht {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <1000>; // 1秒以上の長押しでマクロ発動
            bindings = <&login_macro>, <&kp>;

            label = "LOGIN_HOLD_TAP";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q             &kp W              &kp E             &kp R      &kp T                                            &kp Y        &kp U  &kp I      &kp O    &login_ht 0 P
&kp A             &kp S              &kp D             &kp F      &kp G        &kp LS(LG(S))        &kp EQUAL      &kp H        &kp J  &kp K      &kp L    &lt 5 MINUS
&mt LEFT_SHIFT Z  &kp X              &kp C             &kp V      &kp B        &kp SEMICOLON        &kp AMPERSAND  &kp N        &kp M  &kp COMMA  &kp DOT  &mt RIGHT_SHIFT SLASH
&mt RCTRL ESCAPE  &kp RIGHT_CONTROL  &mt LEFT_ALT TAB  &kp LANG2  &lt 2 SPACE  &lt 3 BACKSPACE      &lt 2 LANG1    &lt 1 ENTER                             &kp QUESTION
            >;

            sensor-bindings =
                <&inc_dec_kp LC(LEFT_ARROW) LC(RIGHT)>,
                <&inc_dec_kp 0 0>;
        };

        FUNCTION {
            bindings = <
&pw1_short  &pw1_middle  &pw1_long  &trans  &trans                         &kp SQT            &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp LESS_THAN  &kp GREATER_THAN
&pw2_short  &pw2_middle  &pw2_long  &trans  &trans  &trans       &kp F7    &kp DOUBLE_QUOTES  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp PIPE       &kp TILDE
&trans      &trans       &trans     &trans  &trans  &trans       &kp HASH  &kp AT             &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp CARET      &kp BACKSLASH
&trans      &trans       &trans     &trans  &trans  &kp DEL      &trans    &trans                                                                         &kp EXCLAMATION
            >;
        };

        NUM {
            bindings = <
&trans  &kp F7  &kp F8  &kp F9  &kp F12                           &kp PERCENT  &kp KP_N7  &kp KP_N8  &kp KP_NUMBER_9  &kp PLUS
&trans  &kp F4  &kp F5  &kp F6  &kp F11  &trans      &kp DOLLAR   &kp PERIOD   &kp KP_N4  &kp KP_N5  &kp KP_N6        &trans
&trans  &kp F1  &kp F2  &kp F3  &kp F10  &trans      &kp INT_YEN  &kp KP_N0    &kp KP_N1  &kp KP_N2  &kp KP_NUMBER_3  &trans
&trans  &trans  &trans  &trans  &trans   &trans      &trans       &trans                                              &kp KP_MULTIPLY
            >;
        };

        ARROW {
            bindings = <
&kp ESCAPE      &kp LC(LS(TAB))         &kp UP_ARROW    &kp LC(TAB)              &trans                       &trans  &trans    &kp UP_ARROW  &trans           &trans
&kp HOME        &kp LEFT_ARROW          &kp DOWN_ARROW  &kp RIGHT_ARROW          &kp END  &trans      &trans  &trans  &kp LEFT  &kp DOWN      &kp RIGHT_ARROW  &trans
&kp LEFT_SHIFT  &kp LG(LS(LEFT_ARROW))  &trans          &kp LG(LS(RIGHT_ARROW))  &trans   &trans      &trans  &trans  &trans    &trans        &trans           &trans
&trans          &trans                  &trans          &trans                   &trans   &trans      &trans  &trans                                           &trans
            >;

            sensor-bindings = <&inc_dec_kp LC(PAGE_UP) LC(PAGE_DOWN)>;
        };

        MOUSE {
            bindings = <
&trans  &trans  &trans            &trans             &trans                                            &trans  &trans    &trans    &trans    &trans
&trans  &trans  &kp LA(LG(DOWN))  &kp LG(LA(UP))     &kp LA(LG(LEFT))   &trans      &trans             &trans  &mkp MB1  &mkp MB2  &mkp MB2  &trans
&trans  &trans  &trans            &trans             &kp LA(LG(RIGHT))  &trans      &trans             &trans  &trans    &trans    &trans    &trans
&trans  &trans  &trans            &to_layer_0 LANG2  &trans             &trans      &to_layer_0 LANG1  &trans                                &trans
            >;
        };

        SCROLL {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };

        layer_6 {
            bindings = <
&trans  &trans        &trans        &trans        &trans                           &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&trans  &trans        &trans        &trans        &trans  &trans      &trans       &trans        &trans        &trans        &trans        &trans
&trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans  &trans      &bootloader  &trans        &trans        &trans        &trans        &bt BT_CLR
&trans  &trans        &trans        &trans        &trans  &trans      &trans       &trans                                                  &bt BT_CLR_ALL
            >;
        };
    };
};
